.services-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(113deg, rgba(11, 102, 245, 0.30)40.76%, rgba(78, 128, 206, 0.15)70.61%, rgba(255, 255, 255, 0.00)100.49%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
}

.services-card:hover {
  border-radius: 12px;
  background: none ;
  transition: opacity 0.4s ease-in-out;
  border-right-color: rgba(255, 255, 255, 1);
}

.services-card:hover::before {
  opacity: 1;
}

.wrapper-services-mob {
  display: flex;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: transform;
}

.panel {
  will-change: transform;
}
