.custom-button {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 200%;
  background: var(--bg-button-circle);
  animation: gradientAnimation 8s infinite;
  transition: opacity 0.3s ease;
}

.custom-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 200%;
  background: var(--bg-button-circle-hover);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-button:hover::before {
  opacity: 0;
}

.custom-button:hover::after {
  opacity: 1;
}

@keyframes gradientAnimation {
  0% {
    transform: translateX(-20%) translateY(-100%);
  }
  50% {
    transform: translateX(20%) translateY(50%);
  }
  100% {
    transform: translateX(-20%) translateY(-100%);
  }
}
