
.custom-button {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.00) 70%);
  animation: gradientAnimation 8s infinite;
}

.custom-button:hover::before {
  animation: none;
  background: linear-gradient(113deg, rgba(11, 102, 245, 0.30) 40.76%, rgba(78, 128, 206, 0.15) 70.61%, rgba(255, 255, 255, 0.00) 100.49%);
}

@keyframes gradientAnimation {
  0% {
    transform: translateX(-20%) translateY(-100%);
  }
  50% {
    transform: translateX(20%) translateY(50%);
  }
  100% {
    transform: translateX(-20%) translateY(-100%);
  }
}
