.services-card {
  background: var(--bg-services-card);
  overflow: hidden;
}

.services-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-services-card-hover);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
}

.services-card:hover {
  border-radius: 12px;
  background: none;
  transition: opacity 0.4s ease-in-out;
  border-right-color: rgba(255, 255, 255, 1);
}

.services-card:hover::before {
  opacity: 1;
}

.wrapper-services-mob {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


.panel {
  will-change: transform;
  background: var(--bg-services-card);
}

@keyframes pulse {
  0% {
	transform: scale(1);
	opacity: 1;
  }
  50% {
	transform: scale(1.1);
	opacity: 0.7;
  }
  100% {
	transform: scale(1);
	opacity: 1;
  }
}

.animate-serv-pulse {
  rotate: -10deg;
  animation: pulse 2s infinite;
}
