@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Bold_Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Light_Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-grow {
  animation: grow 1s ease-in-out forwards;
}
