@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Bold_Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Light_Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

:root {
  --text-color: dark;
  --arctical-h1-color: #0B66F5;
  --background-block: linear-gradient(153deg, rgba(255, 255, 255, 0.12) 2.19%, rgba(255, 255, 255, 0.00) 99.21%);
  --background-block-hover: linear-gradient(113deg, rgba(11, 102, 245, 0.30)40.76%, rgba(78, 128, 206, 0.15)70.61%, rgba(255, 255, 255, 0.00)100.49%);
}
[data-theme="dark"] {
  --text-color: white;
  --arctical-h1-color: #0B66F5;
  --background-block: linear-gradient(153deg, rgba(255, 255, 255, 0.12) 2.19%, rgba(255, 255, 255, 0.00) 99.21%);
  --background-block-hover: linear-gradient(113deg, rgba(11, 102, 245, 0.30)40.76%, rgba(78, 128, 206, 0.15)70.61%, rgba(255, 255, 255, 0.00)100.49%);
}

html {
  scroll-behavior: smooth;
}


@keyframes scale-in-out {
  0%, 100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}

.animate-scale-in-out {
  animation: scale-in-out 5s ease-in-out infinite;
}

