@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Bold_Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/Sansation_Light_Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

:root {
  --text-color: black;
  --arctical-h1-color: #0B66F5;
  --arctical-h1-color-db: black;
  --arctical-h1-color-ex: black;
  --arctical-h1-color-ye: #0B66F5;
  --hero-plenet-color-center: rgba(11, 102, 245, 0.60);
  --hero-plenet-color-rounded: rgba(11, 102, 245, 0.80);
  --bg-services-card: linear-gradient(127deg, rgba(11, 102, 245, 0.30) 49.23%, rgba(78, 128, 206, 0.15) 83.27%, rgba(255, 255, 255, 0.00) 102.62%);
  --bg-services-card-hover: #0B66F5;
  --bg-services-card-opacity: 1;
  --bg-expirians-hover: #0B66F5;
  --bg-reviews-card: linear-gradient(113deg, rgba(11, 102, 245, 0.30) 40.76%, rgba(78, 128, 206, 0.15) 70.61%, rgba(255, 255, 255, 0.00) 100.49%);
  --bg-reviews-card-hover: #0B66F5;
  --bg-button-circle: radial-gradient(circle at center, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.00) 70%);
  --bg-button-circle-hover: linear-gradient(113deg, rgba(245, 176, 11, 0.30) 40.76%, rgba(206, 153, 78, 0.15) 70.61%, rgba(255, 255, 255, 0.00) 100.49%);
  --blue-gradient: linear-gradient(127deg, rgba(11, 102, 245, 0.30) 49.23%, rgba(78, 128, 206, 0.15) 83.27%, rgba(255, 255, 255, 0.00) 102.62%);
  --background-block: linear-gradient(153deg, rgba(255, 255, 255, 0.12) 2.19%, rgba(255, 255, 255, 0.00) 99.21%);
  --background-block-hover: linear-gradient(113deg, rgba(11, 102, 245, 0.30) 40.76%, rgba(78, 128, 206, 0.15) 70.61%, rgba(255, 255, 255, 0.00) 100.49%);

}

[class='dark'] {
  --text-color: white;
  --arctical-h1-color: white;
  --arctical-h1-color-db: white;
  --arctical-h1-color-ex: #0B66F5;;
  --arctical-h1-color-ye: white;
  --hero-plenet-color-center: rgba(255, 255, 255, 0.4);
  --hero-plenet-color-rounded: rgba(255, 255, 255, 0.6);
  --bg-services-card: linear-gradient(270deg, rgba(255, 255, 255, 0.20) 3.93%, rgba(153, 153, 153, 0.04) 40.1%);
  --bg-services-card-hover: linear-gradient(113deg, rgba(11, 102, 245, 0.30) 40.76%, rgba(78, 128, 206, 0.15) 70.61%, rgba(255, 255, 255, 0.00) 100.49%);
  --bg-services-card-opacity: 0.2;
  --bg-expirians-hover: linear-gradient(153deg, rgba(255, 255, 255, 0.20) 69.24%, rgba(255, 255, 255, 0.00) 99.21%);
  --bg-reviews-card: linear-gradient(158deg, rgba(255, 255, 255, 0.20) 59.26%, rgba(255, 255, 255, 0.00) 99.33%);
  --bg-reviews-card-hover: linear-gradient(113deg, rgba(11, 102, 245, 0.30) 40.76%, rgba(78, 128, 206, 0.15) 70.61%, rgba(255, 255, 255, 0.00) 100.49%);
  --bg-button-circle: lradial-gradient(circle at center, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.00) 70%);
  --bg-button-circle-hover: linear-gradient(113deg, rgba(11, 102, 245, 0.30) 40.76%, rgba(78, 128, 206, 0.15) 70.61%, rgba(255, 255, 255, 0.00) 100.49%);
  --blue-gradient: linear-gradient(153deg, rgba(255, 255, 255, 0.12) 2.19%, rgba(255, 255, 255, 0.00) 99.21%);
  --background-block: linear-gradient(153deg, rgba(255, 255, 255, 0.12) 2.19%, rgba(255, 255, 255, 0.00) 99.21%);
  --background-block-hover: linear-gradient(113deg, rgba(11, 102, 245, 0.30) 40.76%, rgba(78, 128, 206, 0.15) 70.61%, rgba(255, 255, 255, 0.00) 100.49%);
}


html {
  scroll-behavior: smooth;
}


@keyframes scale-in-out {
  0%, 100% {
	transform: scale(0.8);
  }
  50% {
	transform: scale(1);
  }
}

.animate-scale-in-out {
  animation: scale-in-out 5s ease-in-out infinite;
}


.background-item {
  position: relative;
  background: var(--background-block);
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
}

.background-item-no-hover {
  background: var(--background-block);
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
}


.background-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-block-hover);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
}

.background-item:hover {
  border-radius: 12px;
  background: none;
  transition: opacity 0.4s ease-in-out;
}

.background-item:hover::before {
  opacity: 1;
}

.background-item.active {
  background: var(--background-block-hover);
  border-radius: 12px;
}

.custom-article-style span {
  color: white !important;
}

