.experience-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-expirians-hover);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
}

.experience-card:hover {
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}

.experience-card:hover::before {
  opacity: 1;
}

.experience-card-open{
  background: var(--bg-expirians-hover);
}