.community-dashboard-card {
  background: var(--background-block);
}

.community-dashboard-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-block-hover);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
}

.community-dashboard-card:hover {
  border-radius: 12px;
  background: none;
  transition: opacity 0.4s ease-in-out;
  border-right-color: rgba(255, 255, 255, 1);
}

.community-dashboard-card:hover::before {
  opacity: 1;
}

.community-dashboard-card.active {
  background: var(--background-block-hover);
  border-radius: 12px;
}
